{% extends "layout.html" %} 
{% block content %} 
	<h1>Quick Start Guide </h1>
	<!--<p>Follow the steps below to get started ! </p> -->
	<div class="content-section">
			<h3>Instructions</h3>
			<p class='text-muted'> Follow the steps below to get started with testing USB hubs
			  <ul class="list-group">
				<li class="list-group-item list-group-item-light">1.) Choose the IP Address of one device from available list. <li>
				<li class="list-group-item list-group-item-light">2.) See USB Hubs that are connected to device . Choose only 1 USB hub. </li>
				<li class="list-group-item list-group-item-light">3.) Choose a at least 1 testlet file for testing.   </li>
				<li class="list-group-item list-group-item-light">4.) Test and....</li>
			  </ul>
			</p>
		  </div>
{% endblock %}